// Color variables

$orange: #e9ab53;
$red: #f15e50;
$light-gray: #fffdfa;
$gray: #c5c6ce;
$dark-gray: #5d5f79;
$dark-blue: #00001a;

// Breakpoints
$mobile: 375px;
$tablet: 760px;
$desktop: 960px;
$desktop-lg: 1200px;

// Utility classes

.hidden {
  display: none;
}
